.inputsotp{
    display:flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.otpbody{
    display:flex;
    background-color: black;
    flex-direction: column;
    gap:20px;
    color:white;
    padding:215px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.inputsotp input{
    height:50px;
    width:30px;
    font-size:24px;
    position:relative;
    /* left:40px; */
    display:flex;
    padding-left:20px;
    margin-left:14px;
    
    align-content: center;
}